 <% notifications.each do |n| %>
    <div class="notification border-bottom d-flex align-items-center justify-content-between">
      <span><%= User.find(n.visiter_id).name %>さんがあなたにDMを送りました</span>
      <span class="pt-5"><%= time_ago_in_words(n.created_at).upcase %></span>
    </div>
  <% end %>
  <%= paginate notifications %>
