<p class="fs-4 text-center">人気タグ</p>
<div class="tag-list p-4">
<!--%= form_with url: users_rooms_search_path, method: :get, local: true do |form| %>-->
<!--  %= form.text_field :search, class: "form-control" %>-->
<!--  %= form.submit 'Search', class: "btn btn-outline-secondary"%>-->
<!--% end %>-->
<!--<div class="input-group mb-3">-->
<!--  <input type="text" class="form-control">-->
<!--  <button class="btn btn-outline-secondary" type="button">Button</button>-->
<!--</div>-->
  <% tags.each do |tag| %>
    <%= link_to "##{tag.name}(#{tag.rooms.count})",  root_path,  class: "tag_list fs-5" %>
  <% end %>
</div>