<div class="main-view-under room-view-under row pt-3 ps-5 pb-2 g-0">
  <div class="main-view-under-right room-lists row">
    <p class="fs-2">新着ルーム</p>
    <%= render "users/rooms/list", rooms: @rooms %>
  </div>
</div>
