<div class="main-view row ">
  <div class="col-lg-2"></div>
  <div class="main-view-left col-lg-5 ps-5 mt-3">
    <h1 class="heading">気軽に面接練習しませんか？</h1>
    <p>面接が苦手？このアプリを使えば、面接相手をマッチングできます。<br>時間・業種は選択できます。一緒に面接で成功しよう。</p>
    <%= link_to "新規登録はこちら", new_user_registration_path, class: "btn btn-outline-info btn-lg heading-btn" %>
  </div>
  <div class="main-view-right col-lg-4">
    <div class="text-center pb-5"><%= image_tag "touka.png", size: "500x350", class: "pb-5" %></div>
  </div>
  <div class="col-lg-1"></div>
</div>
<div class="main-view-under row pt-5">
  <div class="col-lg-1"></div>
  <div class="main-view-under-left col-lg-3">
    <div class="mb-3">
    <%= render "admins/tag_list", tags: @tags %>
    </div>
  </div>
  <div class="main-view-under-right room-lists d-flex align-items-center flex-column col-lg-7">
    <p class="fs-4">新着ルーム</p>
    <%= render "users/rooms/list", rooms: @rooms  %>
  </div>
  <div class="col-lg-1"></div>
</div>

