<h2>時間指定編集</h2>
<%= form_with model: @time_tag, url: admins_time_tag_path(@time_tag), local: true do |f| %>
  <%= f.label:span, "時間指定名" %>
  <%= f.text_field :span %>
  <%= f.submit "変更を保存" %>
<% end %>
