<h1>面接お疲れさまでした！！</h1>
<p>面接力が上がったと思ったら、相手に感謝を送りましょう！</p>
<p>♡</p>
<p>相手のプロフィール</p>
<%= render "users/profile", user: @user %>
<%= link_to "部屋から退出する", users_room_chat_path(@room), method: :delete, local: true %>
