<div class="main-view-under row pt-5">
  <div class="col-sm-1"></div>
  <div class="main-view-under-left col-sm-3">
    <p class="fs-4">タグ検索</p>
    <%= render "admins/tag_list" %>
  </div>
  <div class="main-view-under-right room-lists d-flex align-items-center flex-column col-sm-7">
    <p class="fs-4">新着ルーム</p>
    <%= render "users/rooms/list", rooms: @rooms  %>
  </div>
  <div class="col-sm-1"></div>
</div>
