<div class="time-tag-list">
  <%= render "users/rooms/time_tag", time_tags: @time_tags %>
</div>
<div class="ocuupation-tag-list">
  <%= render "users/rooms/ocuupation_tag", ocuupation_tags: @ocuupation_tags  %>
</div>
<div class="room-lists">
  <%= render "users/rooms/list", rooms: @rooms  %>
</div>
