<footer class=" py-3 mb-4 border-top">
<ul class="nav nav-pills">
      <li class="nav-item"><%= link_to "時間指定一覧", admins_time_tags_path, class: "nav-link active" %></li>
      <li class="nav-item"><%= link_to "職種一覧", admins_ocuupation_tags_path, class: "nav-link active" %></li>
    </ul>
</footer>